<h2 mat-dialog-title>Add</h2>
<div mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" class="form-row">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-checkbox formControlName="isRandGender" color="primary">Random gender</mat-checkbox>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-checkbox formControlName="isRandNationality" color="primary">Random nationality</mat-checkbox>
      <mat-form-field>
        <mat-label>Nationality</mat-label>
        <mat-select formControlName="nationality">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Add</button>
  </form>
</div>
