<app-wrapper>
  <ng-container *ngIf="currentUser; else isEmpty">
    <mat-card-header>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-header>
    <div class="user-details-container">
      <div class="user-details">
        <div>
          <img src="{{currentUser.picture.large}}" alt="User image" class="user-avatar">
        </div>
        <div class="user-details-info-container">
          <h1 class="user-header-text">{{ currentUser.name.first }} {{ currentUser.name.last }}</h1>
          <div class="user-details-info">
            <img [src]="getNationalityFlag()" alt="" width="24px" height="24px"/>
            <p>{{ currentUser.location.country }}</p>
          </div>
          <div class="user-details-info">
            <mat-icon fontIcon="location_on"></mat-icon>
            <p>{{ currentUser.location.street.name }} {{ currentUser.location.street.number }}</p>
          </div>
          <hr>
          <div class="user-details-info">
            <mat-icon fontIcon="phone_iphone"></mat-icon>
            <p>{{ currentUser.phone }}</p>
          </div>

          <div class="user-details-info">
            <mat-icon fontIcon="mail"></mat-icon>
            <p>{{ currentUser.email }}</p>
          </div>
          <div class="user-details-info">
            <mat-icon fontIcon="cake"></mat-icon>
            <p>{{ currentUser.dob.date.slice(0, 10) }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-template #isEmpty>
    <p class="empty-table-text">User is empty</p>
  </ng-template>
</app-wrapper>
