.empty-table-container{
  $borderColor: #a1a1a1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 0;
  margin: 3rem 4rem;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  text-align: center;
}

.empty-table-icon{
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
  color: #a1a1a1;
}

.empty-table-container h2{
  font-size: 1.8rem;
}

.option-buttons-spacer{
  margin-left: 0.5rem;
}
