<ng-container *ngIf="dataSource.data.length; else isEmpty">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{ getName(element) }}</td>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Lastname</th>
      <td mat-cell *matCellDef="let element"> {{ element.name.last }}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element"> <img [src]="getNationalityFlag(element.nat)" alt=""/> {{ element.location.country }}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon [fontIcon]="element.gender"></mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="navigateToDetails(element)" aria-label="Edit user">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-icon-button (click)="editUser(element)" class="option-buttons-spacer"  aria-label="Edit user">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUser(element)" class="option-buttons-spacer" aria-label="Delete user">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</ng-container>

<ng-template #isEmpty>
  <div class="empty-table-container">
    <div>
      <mat-icon class="empty-table-icon">sentiment_very_dissatisfied</mat-icon>
    </div>
    <div>
      <h2>No users found</h2>
      <p>To add a user, click the "Add single" or "Add multiple" button.</p>
    </div>
  </div>
</ng-template>
