.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-field-spacer {
  margin: 0 10px;
}

.form-buttons{
  margin-left: 0.5rem;
}
